.booking {
  border-color: transparent !important;
  outline: none !important;
  position: absolute;
  bottom: 25px;
  font-weight: 700 !important;
  font-size: 25px !important;
}

.booking:focus {
  outline: none !important;
  box-shadow: none !important;
}

.bg-transparent.card {
  border: 4px solid transparent;
  border-radius: 20px;
  transition: .7;
  cursor: pointer;
}

.active {
  border: 4px solid #ffc107 !important;
  border-radius: 20px;
}

.bg-transparent.card:hover {
  border: 4px solid #ffc107;
  border-radius: 20px;
}

.not-active::after {
  content: '';
  position: absolute;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, .6));
  height: 100%;
  width: 100%;
}


/* .swiper-button-next::after {
  display: none;
} */