.logo {
  filter: contrast(0) brightness(250%);
}

.navBarSearchForm {
  margin: 0 auto;
  display: grid !important;
  width: 100%;
}

.search-input {
  background-color: rgba(255, 255, 236, .3) !important;
  color: #fff !important;
  border: 1px solid #fff!important;
  padding: 6px 20px !important;
}

.search-input:focus {
  background-color: rgba(255, 255, 236, .3) !important;
  border-color: #fff !important;
  outline: none !important;
  box-shadow: 0 0 0 0.2rem rgba(238, 238, 248, 0.952);
}

.search-input::placeholder {
  color: #fff !important;
  opacity: 1;
}

.ml-auto.header-nav.navbar-nav a {
  color: #000000;
}
.ml-auto.header-nav2.navbar-nav a {
  color: #fff;
}