body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.home {
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .6)), url(https://i.ibb.co/Lgq3MRT/home.png
);
  background-size: cover;
  color: #efefef!important;
  background-position: center;
  min-height: fit-content;
  height: 100vh;
}

a {
  cursor: pointer;
}

.form-title {
  color: #818181;
}

.font-bold {
  color: #000000 !important;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold !important;
  font-size: 16px;
}

.google svg {
  overflow: hidden;
  vertical-align: middle;
  font-size: 35px;
  position: absolute;
  top: 40px;
  right: 13px;
  color: #000000ed;
}

.loginInput {
  border: none;
  border-bottom: 1px solid #000;
  border-radius: 0;
  padding: 30px 0 !important;
}

.loginInput:focus {
  outline: 0;
  box-shadow: none;
}

.login {
  cursor: pointer;
  font-weight: 700;
}

.form-control.is-invalid:focus {
  outline: 0;
  box-shadow: none;
}

.google-sign-in {
  height: 40px;
  margin: 0 auto;
  text-align: center;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #bfb9ba;
  cursor: pointer;
}

.google-sign-in img {
  display: inline-block;
  height: 25px;
  width: auto;
}

.orr {
  position: relative;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

.orr::before {
  height: 1px;
  background: #AAAAAA;
  width: 48%;
  content: '';
  top: 50%;
  left: 0;
  display: block;
  position: absolute;
}

.orr::after {
  height: 1px;
  background: #AAAAAA;
  width: 48%;
  content: '';
  top: 50%;
  right: 0;
  display: block;
  position: absolute;
}

.swiper-container {
  height: 500px !important;
}

.swiper-button-prev, .swiper-button-next {
  top: auto !important;
  bottom: 5% !important;
  color: #000000;
  background-color: #fff;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

/* Normal desktop :1200px. */

@media (min-width: 1200px) and (max-width: 1500px) {
  .home {
    min-height: 900px;
  }
}

/* Normal desktop :992px. */

@media (min-width: 992px) and (max-width: 1200px) {
  .home {
    min-height: 900px;
  }
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  margin-left: 65px !important;
  left: auto;
  right: auto;
}

.swiper-button-prev:after, .swiper-button-next:after {
  font-size: 14px;
}

.sweet-loading {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 40%;
}
.nice-dates svg {
  top: 54%;
    position: absolute;
    color: #292525;
    right: 18px;
    font-size: 25px;
}