body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.home {
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .6)), url(https://i.ibb.co/Lgq3MRT/home.png
);
  background-size: cover;
  color: #efefef!important;
  height: 100vh;
}

a {
  cursor: pointer;
}

.form-title {
  color: #818181;
}

.font-bold {
  color: #000000 !important;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold !important;
  font-size: 16px;
}

svg {
  overflow: hidden;
  vertical-align: middle;
  font-size: 35px;
  position: absolute;
  top: 40px;
  right: 13px;
  color: #000000ed;
}

.loginInput {
  border: none;
  border-bottom: 1px solid #000;
  border-radius: 0;
}

.loginInput:focus {
  outline: 0;
  box-shadow: none;
}